html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-light.woff2") format("woff2"), url("../fonts/lato-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */
.header {
  background-color: #222222;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: none;
}

.header__button:hover .header__navigation {
  display: block;
}

.header__logo {
  margin: 0 41px 0;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button:hover, .header__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.header__button-svg, .header__cart-svg, .header__login-svg, .header__search {
  fill: #FFFFFF;
}

.header__button-svg:hover, .header__cart-svg:hover, .header__login-svg:hover, .header__search:hover {
  opacity: 0.5;
}

.header__link {
  margin: 0 0 0 34px;
}

@media (max-width: 768px) {
  .header__link {
    margin: 0 0 0 25px;
  }
  .header .header__button--mobile-hidden {
    display: none;
  }
}

/* Promo */
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px 0;
  position: relative;
}

.promo__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .promo__img {
    display: none;
  }
}

.promo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
  display: none;
}

.promo:hover > .promo__overlay {
  display: block;
}

.promo__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 92px;
}

@media (max-width: 1600px) {
  .promo__heading-wrapper {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 768px) {
  .promo__heading-wrapper {
    padding: 0 0 0 83px;
    min-height: 363px;
  }
}

.promo__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
  position: relative;
}

@media (max-width: 1600px) {
  .promo__heading {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.promo__heading:before {
  content: '';
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  left: -20px;
  top: 5px;
}

.promo__sub-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1600px) {
  .promo__sub-heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .promo__sub-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.promo__heading-pink {
  color: #F16D7F;
}

/* Categories  */
.categories {
  margin-bottom: 97px;
}

@media (max-width: 768px) {
  .categories {
    margin-bottom: 155px;
  }
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  width: 360px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  background-size: cover;
}

@media (max-width: 1600px) {
  .categories__item {
    width: 32%;
    min-height: 23vw;
  }
}

@media (max-width: 768px) {
  .categories__item {
    width: 100%;
    height: 66vw;
    margin-bottom: 32px;
    min-height: 66vw;
  }
}

.categories__item--woman {
  background-image: url(../img/categories-woman.jpg);
}

.categories__item--man {
  background-image: url(../img/categories-man.jpg);
}

.categories__item--kid {
  background-image: url(../img/categories-kid.jpg);
}

.categories__item--accesories {
  background-image: url(../img/categories-accesories.jpg);
  width: 100%;
  margin-top: 30px;
  background-size: cover;
}

@media (max-width: 1600px) {
  .categories__item--accesories {
    min-height: 32vw;
  }
}

@media (max-width: 768px) {
  .categories__item--accesories {
    min-height: 26vw;
    height: 26vw;
  }
}

.categories__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.categories__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

/* Products */
.products {
  margin-bottom: 95px;
}

@media (max-width: 1600px) {
  .products {
    margin-bottom: 65px;
  }
}

@media (max-width: 768px) {
  .products {
    margin-bottom: 95px;
  }
}

.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  margin: 0 auto 6px;
  text-align: center;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

@media (max-width: 1600px) {
  .products__text {
    margin-bottom: 73px;
  }
}

@media (max-width: 768px) {
  .products__text {
    margin-bottom: 64px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item {
  width: 360px;
  min-height: 420px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 1600px) {
  .products__item {
    width: 47%;
    min-height: 76vw;
    height: 76vw;
    border: 1px solid red;
    margin-bottom: 16px;
  }
}

@media (max-width: 1600px) {
  .products__item-img {
    width: 100%;
    height: 55vw;
  }
}

.products__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  min-height: 420px;
  background-color: #222222;
  display: none;
  opacity: 0.86;
}

@media (max-width: 1600px) {
  .products__item-overlay {
    width: 100%;
    min-height: 55vw;
    height: 55vw;
    border: 1px solid red;
  }
}

.products__item-button {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: transparent;
  min-width: 138px;
  min-height: 43px;
  border: 1px solid #ffffff;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  display: none;
  background: url(../img/card-logo.svg) 13px 50% no-repeat;
  background-size: 20%;
  padding-left: 50px;
  padding-right: 15px;
}

.products__item-button:hover, .products__item-button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.products__item:hover > .products__item-overlay, .products__item:hover .products__item-button {
  display: block;
}

.products__item-heading {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 0 13px 18px;
}

.products__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 29px 18px 18px;
}

.products__item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  color: #F16D7F;
  margin: 0 29px 20px 18px;
}

.products__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 14px 38px;
  background-color: #fff;
  margin: 48px auto 0 auto;
  display: block;
}

.products__button:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #ffffff;
}

/* Footer  */
footer {
  background-color: #222222;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1600px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__list .features__list-item {
  width: 360px;
  color: #FFFFFF;
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .features__list .features__list-item {
    min-height: 203px;
  }
}

.features__item-img {
  margin-top: 103px;
}

@media (max-width: 1600px) {
  .features__item-img {
    margin-top: 48px;
  }
}

.features__item-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  margin: 28px auto 16px;
}

.features__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
  margin: 16px auto 104px auto;
}

@media (max-width: 1600px) {
  .features__item-text {
    margin: 16px auto 48px;
  }
}

@media (max-width: 768px) {
  .features__item-text {
    margin: 16px auto 46px;
  }
}

/* Subscribe */
.subscribe {
  background-color: #FFFFFF;
  width: 100%;
  background: url(../img/subscribe-img.jpg);
  background-size: cover;
  background-position: 0 center;
  min-height: 448px;
}

@media (max-width: 1600px) {
  .subscribe {
    min-width: unset;
  }
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1600px) {
  .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__info {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222222;
  padding: 77px 20px 126px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .subscribe__info {
    padding: 53px 20px 48px;
    width: 100%;
  }
}

.subscribe__info-text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
}

.subscribe__info-text-italic {
  font-style: italic;
}

.subscribe__form {
  padding: 87px 20px 126px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .subscribe__form {
    padding: 0px 20px 140px;
    width: 100%;
  }
}

.subscribe__form-heading {
  font-size: 24px;
  line-height: 167.2%;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.subscribe__form-subheading {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .subscribe__form-subheading {
    line-height: 27px;
  }
}

.subscribe__form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 23px;
}

.subscribe__form-input {
  text-align: center;
  min-height: 49px;
  padding: 0 7px;
  display: inline;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.subscribe__form-button {
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 49px;
  padding: 0 23px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
}

.subscribe__form-button:hover, .subscribe__form-button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 79px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

@media (max-width: 1600px) {
  .copyright__text {
    margin-bottom: 9px;
  }
}

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .copyright__list {
    margin: 43px unset 40px;
  }
}

.copyright__list-item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyright__list-link {
  background-color: transparent;
}

.copyright__list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright #copyright__list-insta {
  background-color: #F16D7F;
}

.registration_title {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration_title-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.registration__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.registration__main-form {
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__form-button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.registration__form-legend {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__form-input[type='text'], .registration__form-input[type='email'], .registration__form-input[type='password'], .registration__form-input[type='text']:-internal-autofill-selected, .registration__form-input[type='email']:-internal-autofill-selected, .registration__form-input[type='password']:-internal-autofill-selected {
  width: 360px;
  height: 45px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
}

.registration__fieldset {
  margin-bottom: 33px;
}

.registration__form-radioinput[type='radio'] {
  width: 17px;
  height: 17px;
}

.registration__form-radiolabel {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin: 0 20px 0 10px;
}

.registration__main-perks {
  min-width: 650px;
  min-width: 650px;
  padding: 0 20px 0 128px;
  margin-top: 64px;
}

.registration__perks-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.registration__perks-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.registration__perks-list {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__perks-item {
  margin-bottom: 16px;
  padding-left: 43px;
  background-image: url(../img/registration-checkmark.png);
  background-position: 0px center;
  background-repeat: no-repeat;
}

input[placeholder] {
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}
/*# sourceMappingURL=style.css.map */